@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-weight: bold;
  color: #ed7966;
  text-transform: uppercase;
}

p,
ul,
li {
  color: darkgray;
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #ed7966;
  padding-bottom: 3rem;
}
.image {
  widht: 24px;
  height: 24px;
}
.header {
  text-align: right;
}

.lower-case {
  font-size: 80%;
}

.projects {
}

.div {
  padding: 1rem 1rem 1rem 1rem;
  max-width: 720px;
  margin: auto;
  border: 2rem solid white;
}

a {
  color: darkgray;
  text-decoration: none;
  text-transform: none;
}

.checked-star {
  background: gold;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  display: inline-flex;
  height: 15px;
  width: 15px;
}

.unchecked-star {
  background: black;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  display: inline-flex;
  height: 15px;
  width: 15px;
}
.footer {
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn:focus {
}

.btn:active {
}

.btn-block {
}

.task {
}

.task.reminder {
}

.task h3 {
}

.add-form {
}

.form-control {
}

.form-control label {
}

.form-control input {
}

.form-control-check {
}

.form-control-check label {
}

.form-control-check input {
}

footer {
}
