@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: darkgray;
}

h1,
h2 {
  font-weight: bold;
  color: #ed7966;
  text-transform: uppercase;
  margin: 0;
}

.title {
  padding-bottom: 2rem;
}

.header {
  text-align: left;
  padding-bottom: 1rem;
}

.paragraph {
  padding-bottom: 1rem;
}

.lower-case {
  font-size: 80%;
}

.div {
  padding: 1rem 1rem 1rem 1rem;
  max-width: 720px;
  min-width: 360px;
  margin: auto;
  border: 2rem solid white;
}

.image {
  widht: 24px;
  height: 24px;
}

a {
  color: darkgray;
  text-decoration: none;
  text-transform: none;
}

a:hover {
  color: #ed7966;
}

.checked-star {
  background: gold;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  display: inline-flex;
  height: 15px;
  width: 15px;
}

.unchecked-star {
  background: black;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  display: inline-flex;
  height: 15px;
  width: 15px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.nav {
  border: 1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.myLanding {
  display: inline;
}
.centered-container {
  height: 10em;
  position: relative;
}

.centered-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.myMenu {
  display: inline;
}

.myUl {
  list-style-type: none;
  text-align: center;
}

.navStyle {
  transition: all 0.4s ease;
}
.navStyle:hover {
  border-radius: 20rem;
  color: white;
  font-size: 105%;
}
