@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-weight: bold;
  color: #ed7966;
}

p,
ul,
li {
  color: darkgray;
}

.image {
  widht: 24px;
  height: 24px;
}
.header {
  text-align: right;
}

.projects {
}

.div {
  padding: 10rem 5rem 5rem 10rem;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn:focus {
}

.btn:active {
}

.btn-block {
}

.task {
}

.task.reminder {
}

.task h3 {
}

.add-form {
}

.form-control {
}

.form-control label {
}

.form-control input {
}

.form-control-check {
}

.form-control-check label {
}

.form-control-check input {
}

footer {
}
